<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" content="Daniel Santos">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <title>Chat</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <div class="ui">
    <div class="chat">
      <div class="top">
        <div class="avatar">
          <img width="50" height="50" src="https://avatars3.githubusercontent.com/u/17663363?s=460&v=4">
        </div>
        <div class="info">
          <div class="name"> Live Chat </div>
        </div>
      </div>
      <ul class="messages"> </ul>
      <div class="write-form">
        <textarea placeholder="Type your message" name="e" id="texxt" rows="2"></textarea>
        <span class="send" id="btnmsg" >Send</span>
      </div>
    </div>
  </div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/nicescroll/3.5.4/jquery.nicescroll.js'></script>
  <script src="../static/js/listener.js"></script>
  <script type="text/javascript">
    swal("Write your name:", {
      content: "input",
    })
    .then((value) => {
      current_user_name = value
      let data = JSON.stringify({"username": "Server",
                              "message": "The user: "+current_user_name+" has just connected" });
      socket.send(data)
    });
  </script>
</body>
</html>
